.options-bar {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.content {
    height: 4rem;
    width: 80%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.title {
    align-self: flex-end;
}

.buttons {
    display: flex;
    align-self: flex-end;
}

.btn {
    padding: 10px;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 5px;
    text-decoration: none;
}